# FDA 스터디 -1-

   ## 추상화 ( Abstraction )
   
   라는것이 있다고 한다. 누구의 말로는 '디테일'을 숨기는 것이라고 합니다.
   print 문이 정확하게 어떤 과정을 거쳐 Python Console에서 작동하는지에 대한 지식없이
   우리는 '추상화' 때문에 쉽게 사용할 수 있다.
   
   컴퓨터 프로그래밍 추상화는 크게 세가지
   
   1. 변수(Variable)
   2. 함수(Funstion)
   3. 객체(Class)
   
   ### 변수와 함수의 개념을 익히는 것이 우리의 목표

### 변수

In [1]:
name = "신진환"
attend = 3
feet_size = 26.5

In [2]:
#변수명을 그대로 호출해봅니다.
name

'신진환'

In [3]:
attend

3

In [4]:
#변수명을 print함수를 통해
print(name)

신진환

In [5]:
print(attend)

3

In [6]:
#변수의 타입을 살펴봅니다.
type(name)

str

In [7]:
type(attend)

int

In [11]:
type(feet_size)

float

In [12]:
list(name)

['신', '진', '환']

In [13]:
spelling = list(name)

In [14]:
spelling

['신', '진', '환']

In [15]:
type(spelling)

list

In [16]:
spell = list('name')

In [17]:
spell

['n', 'a', 'm', 'e']

In [18]:
spell = ['name1', 'name2', 'name3']

In [19]:
spell

['name1', 'name2', 'name3']

### 형 변환( Type Conversion )

한 데이터 타입에서 다른으로 변환 시킬 수 있다.

In [20]:
a_int = 1 + 2.4

In [21]:
a_int

3.4

In [22]:
type(a_int)

float

In [23]:
int(2.4)

2

In [24]:
float(2)

2.0

In [25]:
str(1)

'1'

In [26]:
str(1) + int(2) ## 두가지 서로 다른 타입의 데이터이기 때문에 에러가 납니다.

TypeError: Can't convert 'int' object to str implicitly

## 소수점 자리 관리하기

In [27]:
7/9

0.7777777777777778

In [28]:
str(7/9)

'0.7777777777777778'

In [29]:
len(str(7/9))

18

In [30]:
digit = round(7/9, 4) #뒤에 4자리까지만을 하고 반올림합니다.
digit

0.7778

In [31]:
type(digit)

float

### 리스트 ( List ) 연습

In [32]:
countries = ["Korea", "USA", "Canada", "England", "France", "Spain", "Ghana"]

인덱싱

In [33]:
countries[2]

'Canada'

In [34]:
countries[:3]

['Korea', 'USA', 'Canada']

In [35]:
for i in countries:
    print(i)

Korea
USA
Canada
England
France
Spain
Ghana

In [36]:
countries1 = ["Korea", "USA", "Canada", "England"]
countries2 = ["France", "Spain", "Ghana"]
Countries = countries1 + countries2

In [37]:
Countries

['Korea', 'USA', 'Canada', 'England', 'France', 'Spain', 'Ghana']

In [38]:
countries

['Korea', 'USA', 'Canada', 'England', 'France', 'Spain', 'Ghana']

In [39]:
countries == Countries

True

In [40]:
countries.insert(3, "Germany")

In [41]:
countries

['Korea', 'USA', 'Canada', 'Germany', 'England', 'France', 'Spain', 'Ghana']

In [42]:
del countries[3:6]

In [43]:
countries

['Korea', 'USA', 'Canada', 'Spain', 'Ghana']

### 파일을 통한 데이터 가져오기

In [44]:
states = []
# 같은 폴더에 있는 파일을 열어준다
in_file = open("states.txt")

# strip은 white space를 없애주고
for line in in_file:
    # split은 string을 list로 만들어준다
    states += line.strip().split(", ")
    
# 파일을 닫아준다
in_file.close()

In [45]:
print(states)

['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island,Connecticut', 'New York', 'New Jersey', 'Delaware', 'Pennsylvania', 'Maryland,Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia,Florida', 'Alabama', 'Mississippi', 'Tennessee', 'Kentucky', 'Ohio', 'Indiana,Michigan', 'Wisconsin', 'Illinois', 'Missouri', 'Arkansas', 'Louisiana,Texas', 'Oklahoma', 'Kansas', 'Nebraska', 'Iowa', 'Minnesota', 'South Dakota,North Dakota', 'Montana', 'Wyoming', 'Colorado', 'New Mexico', 'Arizona,Utah', 'Idaho', 'Washington', 'Oregon', 'Nevada', 'California', 'Alaska', 'Hawaii']

In [46]:
len(states)

43

In [47]:
지방 = """서울특별시
부산광역시
인천광역시
대구광역시
대전광역시
광주광역시
울산광역시
세종특별자치시
강원도
경기도
충청남도
충청북도
경상북도
전라남도
경상남도
전라북도
제주특별자치도
"""

In [48]:
지방

'서울특별시\n부산광역시\n인천광역시\n대구광역시\n대전광역시\n광주광역시\n울산광역시\n세종특별자치시\n강원도\n경기도\n충청남도\n충청북도\n경상북도\n전라남도\n경상남도\n전라북도\n제주특별자치도\n'

In [49]:
print(지방)

서울특별시
부산광역시
인천광역시
대구광역시
대전광역시
광주광역시
울산광역시
세종특별자치시
강원도
경기도
충청남도
충청북도
경상북도
전라남도
경상남도
전라북도
제주특별자치도

In [50]:
지방.split('\n')

['서울특별시',
 '부산광역시',
 '인천광역시',
 '대구광역시',
 '대전광역시',
 '광주광역시',
 '울산광역시',
 '세종특별자치시',
 '강원도',
 '경기도',
 '충청남도',
 '충청북도',
 '경상북도',
 '전라남도',
 '경상남도',
 '전라북도',
 '제주특별자치도',
 '']

In [51]:
지방

'서울특별시\n부산광역시\n인천광역시\n대구광역시\n대전광역시\n광주광역시\n울산광역시\n세종특별자치시\n강원도\n경기도\n충청남도\n충청북도\n경상북도\n전라남도\n경상남도\n전라북도\n제주특별자치도\n'

In [52]:
지방 = 지방.split('\n')

In [53]:
지방 = 지방[:-1]

In [54]:
지방

['서울특별시',
 '부산광역시',
 '인천광역시',
 '대구광역시',
 '대전광역시',
 '광주광역시',
 '울산광역시',
 '세종특별자치시',
 '강원도',
 '경기도',
 '충청남도',
 '충청북도',
 '경상북도',
 '전라남도',
 '경상남도',
 '전라북도',
 '제주특별자치도']

## Q. 지방 리스트에서 "광역시"로 끝나는 지역이름만 출력해보자.
(for, if 활용)

In [55]:
for jibang in 지방:
    if jibang[-3:] == '광역시':
        print(jibang)

부산광역시
인천광역시
대구광역시
대전광역시
광주광역시
울산광역시

In [56]:
for jibang in 지방:
    if jibang.endswith('광역시'):
        print(jibang)

부산광역시
인천광역시
대구광역시
대전광역시
광주광역시
울산광역시

## Q. 1에서 100까지의 수를 출력하는 함수작성, 3의 배수는 해당 숫자 대신 “Fizz”를 출력하고, 5의 배수는 “Buzz”를 출력한다. 3과 5의 배수에 모두 해당하는 수는 “FizzBuzz”를 출력한다.

In [59]:
for i in range(1,100):
    if i%15 ==0:
        print("FizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

## Q2. 두 두자리 수의 곱중 가장 큰 팔린드롬은 9009 (91x99)이다.  <br> 두 세자리 수의 곱중 가장 큰 팔린드롬을 찾아 봅시다.

Helper 함수를 만들어 보자

In [57]:
def is_palindrome(num):
    if num is 'palindrome':
        return True